@model IEnumerable<ecuaRefills2.Areas.Identity.Data.Usuario>

@{
    ViewBag.Title = "Todos los usuarios";
}

<h1>Todos los usuarios</h1>

@if (Model.Any())
{
    <a asp-area="Identity" asp-page="/Account/Register"
       class="btn btn-primary mb-3" style="width:auto">
        Nuevo usuario
    </a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a asp-action="EditUser" asp-controller="Administration"
                       asp-route-id="@user.Id" class="btn btn-primary">Editar</a>

                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>¿Estas seguro que quieres eliminar a este usuario?</span>
                        <button type="submit" class="btn btn-danger">Si</button>
                        <a href="#" class="btn btn-info"
                           onclick="confirmDelete('@user.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@user.Id', true)">Eliminar</a>
                    </span>
                </form>

            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Aún no se han creado usuarios
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Usa el botón para crear un nuevo usuario
            </h5>
            <a class="btn btn-info" style="width:auto"
               asp-area="Identity" asp-page="/Account/Register">
                Añadir usuario
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}